<template name="siriusNavbar">
    <header class="topnavbar-wrapper navbar-fixed-top">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar topnavbar" style="font-size: 18px;">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <div class="brand-logo">
                        <img src="/img/logo.png" alt="App Logo" class="img-responsive">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
                <!-- START Right Navbar-->
                <ul class="nav navbar-nav navbar-right" style="padding-right: 2%;">
                    <!-- Home button-->
                    <li>
                        <a id="back-to-home" href="{{pathFor 'home'}}">
                            <!--<em class="icon-home"></em>-->
                            <span>{{_ "Home"}}</span>
                        </a>
                    </li>

                    <!-- System button-->
                    <li>
                        <a id="go-to-system" href="{{pathFor 'home'}}">
                            <span>{{_ "System.label"}}</span>
                        </a>
                    </li>
                    <!-- Members button-->
                    <li>
                        <a id="go-to-members" href="{{pathFor 'sirius-member-list'}}">
                            <!--<em class="icon-peoplen"></em>-->
                            <span>{{_ "Members"}}</span>
                        </a>
                    </li>

                    <!-- START User avatar toggle-->
                    <li class="dropdown dropdown-list">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a href="#" data-toggle="dropdown">
                            <em class="icon-user"></em>
                        </a>
                        <!-- START Dropdown menu-->
                        <ul class="dropdown-menu animated flipInX">
                            <li>
                                <!-- START list group-->
                                <div class="list-group">
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media-box">
                                            <div class="pull-left">
                                                <em class="fa fa-twitter fa-2x text-info"></em>
                                            </div>
                                            <div class="media-box-body clearfix">
                                                <p class="m0">New followers</p>
                                                <p class="m0 text-muted">
                                                    <small>1 new follower</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media-box">
                                            <div class="pull-left">
                                                <em class="fa fa-envelope fa-2x text-warning"></em>
                                            </div>
                                            <div class="media-box-body clearfix">
                                                <p class="m0">New e-mails</p>
                                                <p class="m0 text-muted">
                                                    <small>You have 10 new emails</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media-box">
                                            <div class="pull-left">
                                                <em class="fa fa-tasks fa-2x text-success"></em>
                                            </div>
                                            <div class="media-box-body clearfix">
                                                <p class="m0">Pending Tasks</p>
                                                <p class="m0 text-muted">
                                                    <small>11 pending task</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- last list item -->
                                    <a href="#" class="list-group-item">
                                        <small>More notifications</small>
                                        <span class="label label-danger pull-right">14</span>
                                    </a>
                                </div>
                                <!-- END list group-->
                            </li>
                        </ul>
                        <!-- END Dropdown menu-->
                    </li>
                </ul>
                <!-- END Right Navbar-->
            </div>
        </nav>
        <!-- END Top Navbar-->
    </header>
</template>