<template name="langSelector">
    <div class="content-heading">
        <!-- START Language list-->
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-default">{{currentLang}}</button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                    <li><a href="#" data-set-lang="ja">日本語</a>
                    </li>
                    <li><a href="#" data-set-lang="vi">Tiếng Việt</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Language list    -->
        Dashboard
        <small data-localize="dashboard.WELCOME">Welcome to Angle!</small>
    </div>
</template>