<template name="siriusMemberDetails">
    <h1>{{member.basicInformation.name}}</h1>
    <div id="siriusMemberDetails" class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div id="siriusmemberdetailscarousel" data-ride="carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        {{#each member.photos}}
                            <li data-target="#siriusmemberdetailscarousel"
                                    data-slide-to={{getPhotoIndex member.photos this}} class={{extendedClass member.photos this}}></li>
                        {{/each}}
                    </ol>
                    <div id="siriusmemberdetailscarouselslide" role="listbox" class="carousel-inner">
                        {{#each member.photos}}
                            <div class="item {{extendedClass member.photos this}}">
                                <div class="thumbnail">
                                    <a href={{this}}>
                                        <img src={{this}} alt="V-{{member.memberCode}}-{{extendedClass member.photos
                                                                                                       this}}"/>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <a href="#siriusmemberdetailscarousel" role="button" data-slide="prev"
                       class="left carousel-control">
                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#siriusmemberdetailscarousel" role="button" data-slide="next"
                       class="right carousel-control">
                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> <!-- /col-sm-6 -->
            <div class="col-lg-6 col-sm-12">
                <h2>Products</h2>
                <h3>Some product subhead</h3>
                <p>Product description goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim.</p>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus.</p>

            </div> <!-- /col-sm-6 -->
        </div> <!-- /row -->
    </div>
</template>